body {
    background-image: url(https://gttp.imgix.net/222347/x/0/15-best-tourist-spots-in-the-philippines-beaches-diving-spots-rivers-waterfalls-historic-sites-16.jpg?auto=compress%2Cformat&ch=Width%2CDPR&dpr=1&ixlib=php-3.3.0&w=883);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: black
}
h1 {
font-family: 'Barlow', sans-serif;
font-family: 'Playpen Sans', cursive;    color:black;
    text-align: center;
    padding-top: 8px;
}
header {
font-family: 'Barlow', sans-serif;
font-family: 'Playpen Sans', cursive;    color: white;
}
section {
   font-family: 'Barlow', sans-serif;
font-family: 'Playpen Sans', cursive;
    color: white;
    column-gap: 30px;
    row-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
.intro {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 20px;
    background-color:rgb(148, 63, 222);
    width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;

}
.vigan {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgb(148, 63, 222);
    width: 250px;
    height: 400px;
}

.vigan2 {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-image: url(https://gttp.imgix.net/222039/x/0/15-best-tourist-spots-in-the-philippines-beaches-diving-spots-rivers-waterfalls-historic-sites-4.jpg?auto=compress%2Cformat&ch=Width%2CDPR&dpr=1&ixlib=php-3.3.0&w=883);
    background-repeat: repeat;
    background-size: cover;
    width: 250px;
    height: 400px;
}
.intramuros {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgb(148, 63, 222);
    width: 250px;
    height: 400px;
}
.intramuros2 {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-image: url(https://gttp.imgix.net/222141/x/0/15-best-tourist-spots-in-the-philippines-beaches-diving-spots-rivers-waterfalls-historic-sites-13.jpg?auto=compress%2Cformat&ch=Width%2CDPR&dpr=1&ixlib=php-3.3.0&w=883);
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 400px;
}
.koron {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgb(148, 63, 222);
    width: 250px;
    height: 400px;
}
.koron2 {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-image: url(https://gttp.imgix.net/222331/x/0/15-best-tourist-spots-in-the-philippines-beaches-diving-spots-rivers-waterfalls-historic-sites-20.jpg?auto=compress%2Cformat&ch=Width%2CDPR&dpr=1&ixlib=php-3.3.0&w=883);
    background-repeat: repeat;
    background-size: cover;
    width: 250px;
    height: 400px;
}

.luneta {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgb(148, 63, 222);
    width: 250px;
    height: 430px;
}
.luneta2 {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-image: url(https://gttp.imgix.net/222142/x/0/15-best-tourist-spots-in-the-philippines-beaches-diving-spots-rivers-waterfalls-historic-sites-22.jpg?auto=compress%2Cformat&ch=Width%2CDPR&dpr=1&ixlib=php-3.3.0&w=883);
    background-repeat: repeat;
    background-size: cover;
    width: 250px;
    height: 430px;
}
footer {
    font-family: 'Barlow', sans-serif;
    font-family: 'Playpen Sans', cursive;    color:black;
}
.references {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 20px;
    background-color:rgb(148, 63, 222);
    width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

